#navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 1px solid blue;
    margin: auto;
  }
  #menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
  }
  #menu img{
      height: 250px;
      width: 250px;
  }
  #menu div{
    border: 1px solid teal;
    border-radius: 15px;
    text-align: center;
  }